
.navbar {
    background: #321044;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 13;
    height: 48px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(241, 63, 173, 0.25) 0px 6px 6px;
    padding: 1px;
    border-bottom: 1px;
}

.logo {
    position: relative;
    left: 0px;
    padding: 2px;

}

.list {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    position: absolute;
    top: 2px;
    left: 168vh;

}
.list li {
    padding: 11px;

}

.list a  {
    color: pink;
}

.link .nav-linkactive {
    color: red;
}


@media only screen and (max-width: 1440px) {
    .list {

        left: 165vh;

    }
}


@media only screen and (max-width: 1024px) { 

    .list {
        left: 110vh;

    }

}

@media only screen and (max-width: 768px) {
    .list { 
        left: 80vh;

    }

}

@media only screen and (max-width: 425px) {

    .list {
        left: 39vh;
    }
}

