
.navbar {
    background: #321044;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 13;
    height: 48px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    padding: 1px;
    border-bottom: 4px;
}

.logo {
    position: relative;
    left: 0px;
    padding: 2px;

}

.list {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    position: absolute;
    top: 2px;
    left: 168vh;

}
.list li {
    padding: 11px;

}

.list li a {
    color: pink;
}

@media only screen and (max-width: 1440px) {
    .list {

        left: 165vh;

    }
}


@media only screen and (max-width: 1024px) { 

    .list {
        left: 110vh;

    }

}

@media only screen and (max-width: 768px) {
    .list { 
        left: 80vh;

    }

}

@media only screen and (max-width: 425px) {

    .list {
        left: 39vh;
    }
}

